$color-purple-100: #62458b !default;
$color-pink-100: #c68fdc !default;
$color-bg: #191919 !default;
$color-white: #ffffff !default;

$font-pretendard: var(--font-pretendard);
$font-newyork: var(--font-newyork);
