.link {
  width: 100%;

  .button {
    width: 100%;
    background: linear-gradient(90deg, #62458b 0%, #c68fdc 100%);
    padding: 0.75rem 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-radius: 0.5rem;
    font-family: $font-newyork;
    opacity: 0.9;

    &:hover {
      opacity: 0.8;
    }
  }
}
